<div class="footer">
    <footer>
        <div class="name">{{yflaw}}</div>
        <div class="address">{{address}}</div>
        <div class="phone">{{phone}}</div>
        <div class="copyright"><span class="year">{{year}}</span>{{copyright}}</div>
    </footer>
</div>
